/* common01 */
.finishBox{width:1200px;padding-top:30px;padding-bottom:40px;}
.finishBox .playbox{width:1200px;position: relative;overflow:hidden;margin-bottom:18px;}
/*  */
.finish_com1{}
.finish_com1 {}
.finish_con3{width:386px;height:380px;margin-top:20px;border-bottom:1px #eee solid;}
.finish_con3 .fini_top{width:386px;height:200px;overflow: hidden;}
.finish_con3 ul:before{content:"";position:absolute;right:0;top:0;width:1px;height:100%;border-right:1px #eee solid;}
.finish_con3 ul li a:after{content:"";position:absolute;left:0;top:0;width:1px;height:100%;border-left:1px #eee solid;}
.finish_con3 ul li a:before{content:"";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px #eee solid;}
.finish_li8{margin-left:20px;}
.finish_con3 ul{position: relative;width:100%;height:180px;}
.finish_con3 ul li{float: left;position: relative;}
.finish_con3 ul li a{display: block;width: 100%;text-align:center;height: 100%;font-size:14px;color:#898989;overflow:hidden;}
.finish_con3 ul li a span{display:block;width:50px;height:15px;margin:25px auto 0;padding-top:30px;}
.finish_li2 ul li a span{margin-top:60px;}
.finish_li4 ul li{width:50%;height:90px;overflow:hidden;}
.finish_li8 ul li{width:25%;height:90px;overflow:hidden;}
.finish_li2 ul li{width:50%;height:180px;overflow:hidden;}
.finish_li4 ul li a span.icon1{background:url('../images/finish_icon1.png') center 0 no-repeat;}
.finish_li4 ul li a span.icon2{background:url('../images/finish_icon2.png') center 0 no-repeat;}
.finish_li4 ul li a span.icon3{background:url('../images/finish_icon3.png') center 0 no-repeat;}
.finish_li4 ul li a span.icon4{background:url('../images/finish_icon4.png') center 0 no-repeat;}
.finish_li8 ul li a span.icon1{background:url('../images/finish_icon5.png') center 0 no-repeat;}
.finish_li8 ul li a span.icon2{background:url('../images/finish_icon6.png') center 0 no-repeat;}
.finish_li8 ul li a span.icon3{background:url('../images/finish_icon7.png') center 0 no-repeat;}
.finish_li8 ul li a span.icon4{background:url('../images/finish_icon8.png') center 0 no-repeat;}
.finish_li8 ul li a span.icon5{background:url('../images/finish_icon9.png') center 0 no-repeat;}
.finish_li8 ul li a span.icon6{background:url('../images/finish_icon10.png') center 0 no-repeat;}
.finish_li8 ul li a span.icon7{background:url('../images/finish_icon11.png') center 0 no-repeat;}
.finish_li8 ul li a span.icon8{background:url('../images/finish_icon12.png') center 0 no-repeat;}
.finish_li2 ul li a span.icon1{background:url('../images/finish_icon13.png') center 0 no-repeat;}
.finish_li2 ul li a span.icon2{background:url('../images/finish_icon14.png') center 0 no-repeat;}

.finish_con3 ul li a:hover{background:#7bb8f1;color:#fff;}
.finish_con3 ul li a:hover:after,.finish_con3 ul li a:hover:before{display: none;}
.finish_con3 ul li a:hover span{background-position:center -50px;}


.finish_ul{margin-left:-40px;margin-bottom:40px;}
.finish_ul .f_li{width:580px;float: left;margin-left:40px;margin-top:20px;}
.finish_ul .f_li .liBox{width: 100%;}
.finish_ul .f_li .liBox .pic{width:240px;height:182px;float: left;display: block;margin-top:20px;}
.finish_ul .f_li .liBox ul{width:320px;height:170px;overflow:hidden;margin-top:20px;float: right;}
.finish_ul .f_li .liBox ul li{height:35px;line-height:35px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size:14px;}
.finish_ul .f_li .liBox ul li:first-child{font-size: 18px;height: 40px;line-height: 40px;}

/* 添加广告位 */
.titlediv a.recommendAdv{position:absolute;left:120px;width:60px;height:30px;line-height:0;top:8px;}
.titlediv a.recommendAdv img{width:60px;height:30px;}

/* 装修课堂列表 */
.finishLiTab{background:#fff;}
.finishLiTab .tab_ul{width:100%;height:30px;padding-top:30px;border-bottom:2px #f7f7f7 solid;}
.finishLiTab .tab_ul li{width:120px;height:30px;float:left;text-align:center;font-size:16px;cursor:pointer;color:#555;}
.finishLiTab .tab_ul li.active{border-bottom:2px #2888e2 solid;color:#1479d7}
.finishLiTab .tab_box .tab_div {display: none;}
.finishLiTab .tab_box .tab_div span{display: block;cursor:pointer;width:80px;height:33px;text-align:center;line-height:33px;border:1px #eee solid;font-size:14px;color:#898989;border-radius:3px;margin:10px 0 0 20px;float:left;}
.finishLiTab .tab_box .tab_div span.cur{color:#2888e2;border-color:#2888e2}
