.swiper-container {width: 100%;height: 100%;}
.swiper-container .swiper-slide{display: block;width:100%;height: 100%;position: relative;float:left;}
.arrow-left {display:none;width:38px;height:80px;background:url('../images/product_indexleft_swip.png') center center no-repeat;background-size:100%;left:0;position: absolute;top: 50%;margin-top: -40px;z-index: 101;}
.arrow-right {display:none;width:38px;height:80px;background:url('../images/product_indexright_swip.png') center center no-repeat;background-size:100%;left:0;  position: absolute;left:auto;right: 0;top: 50%;margin-top: -40px;z-index: 101;}
.pagination {position: absolute;z-index: 20;right:0;bottom: 12px;width:100%;text-align:center;}
.swiper-pagination-switch {display: inline-block;margin-right: 5px;cursor: pointer;width:8px;height:8px;border-radius:8px;border:2px #fff solid;background:none;opacity:1;}
.swiper-visible-switch {background: #fff;}
.swiper-active-switch {background: #fff;}

.imported .snav_listbox{border:1px #eeeeee solid;width:1200px;position: relative;}
.imported .snav_listbox span.sp{width:1px;height: 100%;position: absolute;right:0;top:0;background:#fff;}
.imported .snav_listbox .lab_box{padding-bottom:15px;height:35px;overflow:hidden;}
.imported .snav_listbox .lab_box label{width:99px;float:left;text-align: center;border-right:1px #eee solid;margin-top:15px;font-size: 14px;}
.imported .snav_listbox .lab_box label:nth-child(12n),.snav_listbox .lab_box label:last-child{border-right:none;}
.imported .snav_listbox .sl_up{width:1160px;margin:0 auto;border-top:1px #eee dashed;height:33px;line-height: 33px;position: relative;}
.imported .snav_listbox .sl_up span{position: absolute;right:0;bottom:0;width:78px;height:30px;line-height:30px;text-align:center;color:#1479d7;background:url('../images/snav_morebg.png') 56px -31px no-repeat;font-size:14px;cursor: pointer;}
.imported .snav_listbox .sl_more{width:74px;padding-left:25px;height:50px;line-height:50px;background:#fff;color:#1479d7;font-size:14px;position: absolute;right:0;top:0;text-align:left;cursor:pointer;}
.imported .snav_listbox .sl_more span{display: block;background:url('../images/snav_morebg.png') 30px 22px no-repeat;}

.imported_swiper{width:870px;height:424px;margin-top:20px;position: relative;}
.imported_swiper img{width:870px;height:424px;}
.imtitle{width:100%;height:30px;border-bottom:2px #2888e2 solid;font-size:20px;color:#282828;line-height:20px;}
.shishangqy{width: 300px;margin-top:20px;}
.shishangul{width:300px;margin-top:20px;}
.shishangul li a{color:#555;}
.shishangul li .font{width:100%;height:37px;line-height: 37px;font-size:16px;overflow:hidden;display: block;}
.shishangul li .pic{display: none;}
.shishangul li .pic img{width:300px;height:188px;}
.shishangul li.active .pic{display: block;}
.shishangul li.active .font{color:#1479d7;}

/* imcont01 */
.imcont01{margin-top:40px;}
.w500{width:500px;}
.w870{width:870px;}
.im1_pic,.im1_pic img{width:350px;height:230px;}
.im1_conul{width:100%;font-size:18px;margin-top:25px;}
.im1_conul li{width:488px;height:39px;line-height:39px;background: url('../images/news_point.png') left center no-repeat;padding-left:12px;overflow:hidden;}
.im1_nf li{width:276px;height:223px;overflow:hidden;position: relative;text-align:center;float: left;}
.im1_nf li img{width:276px;height:223px;}
.im1_nf li.li2{margin:0 21px;}
.im1_nf li .bg{position: absolute;left: 0;top:223px;width:100%;height:100%;background:rgba(0,0,0,0.5);FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#99000000,endColorStr=#99000000);}
.im1_nf li .p1{position: absolute;left:0;top:40px;font-size:24px;color:#fff;width:100%;}
.im1_nf li .p2{position:absolute;left:0;top:80px;font-size:20px;color:#fff;width:100%;}
.im1_nf li .p2 i{width:26px;height:1px;background:#fff;position: absolute;top:13px;}
.im1_nf li .p2 i.i1{left:90px;}
.im1_nf li .p2 i.i2{left:156px;}
.im1_nf li .p3{position: absolute;left:23px;top:223px;width:230px;font-size:16px;color:#fff;text-align:center;line-height:24px;height:48px;overflow:hidden;}
.im1_tabul{width:100%;border-top:1px #cccccc solid;margin-top:29px;}
.im1_tabul li{width:106px;height:40px;line-height:40px;float: left;position: relative;text-align: center;color:#333;font-size:20px;cursor:pointer;}
.im1_tabul li.active{color:#2888e2;}
.im1_tabul li.active::after{content: '';width:100%;height:2px;background:#2888e2;position: absolute;left:0;top:-1px;}
.im1_tabul li.active::before{content: '';background:#fff;position: absolute;left:43px;top:-1px;width:0;height:0;border-width:8px 8px 0;border-style:solid;border-color:#2888e2 transparent transparent;position:absolute;}
.im1_tabdiv{width:100%;}
.im1_tabdiv ul{display: none;}
.im1_tabdiv ul:first-child{display: block;}
.im1_tabdiv ul li{width:100%;height:169px;margin-top:20px;border-bottom:1px #eaeaea solid;position:relative;}
.im1_tabdiv ul li:first-child{margin-top:10px;}
.im1_tabdiv ul li .pic{position: absolute;left:0;top:0px;width:226px;height:150px;}
.im1_tabdiv ul li .pic img{width: 226px;height:150px;}
.im1_tabdiv ul li .font{margin-left:256px;}
.im1_tabdiv ul li .font .tit{width:100%;height:35px;line-height:35px;overflow:hidden;font-size:18px;}
.im1_tabdiv ul li .font .des{width:100%;height:75px;line-height: 25px;overflow:hidden;font-size:14px;color:#898989;}
.im1_tabdiv ul li .font .tim{width:100%;height:33px;line-height: 33px;text-align:right;margin-top:7px;font-size:14px;color:898989;}
.adver300,.adver300 img{width:300px;height:188px;}
.imcont02,.imcont03{margin-top:45px;}
.im_tit{margin:0 auto;display: block;}
.mt30{margin-top:30px;}
.leftswiper{width:292px;height:480px;position: relative;}
.leftswiper img{width:292px;height:480px;}

.im2_logo{width:882px;height:480px;}
.im2_logo ul{margin-left:-10px;}
.im2_logo li{width:213px;height:146px;background:#f7f7f7;overflow:hidden;text-align:center;margin:0 0 21px 10px;float:left;}
.im2_logo li img{width:160px;height:80px;display: block;margin:20px auto 10px;}
.im2_logo li span{font-size:16px;color:#555;width:100%;height:16px;line-height:16px;overflow:hidden;display: block;}
.im3_product{width:882px;height:480px;}
.im3_product ul{margin-left:-10px;}
.im3_product li{width:287px;height:235px;background:#f7f7f7;overflow:hidden;text-align:center;margin:0 0 10px 10px;float:left;}
.im3_product li img{width:150px;height:150px;display: block;margin:20px auto 10px;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;transition:all .2s}
.im3_product li img:hover{transform: scale(1.1);}
.im3_product li span{font-size:16px;color:#555;height:16px;overflow:hidden;display: block;line-height:16px;}

.imcont04{margin-top:50px;margin-bottom:60px;}
.im4_pic{width:1200px;height:565px;margin-top:29px;position: relative;}
.im4_pic li{position: absolute;overflow:hidden;cursor:pointer;}
.im4_pic li .bg{position: absolute;left:0;top:-1000px;width:100%;height:100%;background:rgba(0,0,0,0.5);FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#99000000,endColorStr=#99000000);}
.im4_pic li img{width:100%;height:100%;}
.im4_pic li.li01{width:374px;height:188px;left:0;top:0;}
.im4_pic li.li02{width:374px;height:190px;left:0;top:190px;}
.im4_pic li.li03{width:186px;height:180px;left:0;top:383px;}
.im4_pic li.li04{width:186px;height:180px;left:188px;top:383px;}
.im4_pic li.li05{width:402px;height:380px;left:376px;top:0;}
.im4_pic li.li06{width:566px;height:180px;left:376px;top:383px;}
.im4_pic li.li07{width:420px;height:212px;left:780px;top:0;}
.im4_pic li.li08{width:162px;height:166px;left:780px;top:214px;}
.im4_pic li.li09{width:256px;height:350px;left:944px;top:214px;}

.im4_pic li span{width:90%;height:100%;color:#fff;height: 40px;overflow:hidden;line-height:20px;text-align:center;font-size:16px;margin: auto; position: absolute;top: 0; left: 0; bottom: 0; right: 0;}
.im4_pic li a{width:100%;height:100%;position:absolute;left:0;top:0;}
/*进口家居*/
.imcont05{margin:50px 0 60px;}
.diban_swiper,.diban_swiper img{width:574px;height:479px;position: relative;}
.diban_imgbox{width:276px;margin-left:20px;}
.diban_imgbox img{width:276px;height:226px;}
.mt27{margin-top: 27px;}
.imcont05 .shishangul li .font{height:55px;line-height: 55px;}
.imcont05 .shishangul li .pic img{width:300px;height:167px;}